<app-header title="Profile" [showIcon]="false"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="input-container">
    <p class="text-divider"> Account credentials</p>
    <ion-input
      class="custom"
      type="text"
      name="email"
      label="Email"
      labelPlacement="fixed"
      placeholder="Enter your email"
      [(ngModel)] = "user.email"
      email
      disabled
    ></ion-input>

    <ion-input
      class="custom"
      type="password"
      name="password"
      label="Password"
      labelPlacement="fixed"
      placeholder="Enter your password"
      [clearOnEdit]="true"
      [(ngModel)] = "user.password"
      (ngModelChange)="validatePassword()"
      required
    ></ion-input>
    <div class="errorMessage">
      <ion-text color="danger" *ngIf="passwordError">
        <p>{{ passwordError }}</p>
      </ion-text>
    </div>
  </div>

  <div class="input-container bottom-spacing">
    <p class="text-divider"> Personal data</p>
    <ion-item lines="none">
      <ion-label>Name</ion-label>
      <ion-input 
        class="custom"
        type="text"
        name="name"
        placeholder="Enter your name"
        [(ngModel)] = "user.name"
        required
      ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Surname</ion-label>
      <ion-input
        class="custom"
        type="text"
        name="surname"
        placeholder="Enter your surname"
        [(ngModel)] = "user.surname"
        required
      ></ion-input>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label>Gender</ion-label>
      <ion-radio-group [(ngModel)]="user.gender" name="gender" required>
        <div class="radio-container-row">
            <ion-radio value="Male" labelPlacement="end">Male</ion-radio>
            <ion-radio value="Female" labelPlacement="end">Female</ion-radio>
        </div>
      </ion-radio-group>
    </ion-item>
  
    <ion-item lines="none">
      <ion-label>Birthdate</ion-label>
      <ion-input 
        class="custom"
        type="date"
        labelPlacement="fixed"
        name="birthDate"
        [(ngModel)]="user.birthDate" 
      ></ion-input>
    </ion-item>
  
    <ion-item lines="none">
      <ion-label>Weight</ion-label>
        <ion-input
          class="custom"
          type="number"
          name="weight"
          placeholder="Enter your weight"
          [(ngModel)]="user.weight"
          required
          text-right
        ></ion-input>
        <ion-label style="padding-left: 10px;">kg</ion-label>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label>Goal</ion-label>
      <ion-radio-group [(ngModel)]="user.goal" name="goal" required>
        <div class="radio-container-column">
            <ion-radio value="Mass gain" labelPlacement="end">Mass gain</ion-radio>
            <ion-radio value="Tone" labelPlacement="end">Tone</ion-radio>
            <ion-radio value="Weight loss" labelPlacement="end">Weight loss</ion-radio>
        </div>
      </ion-radio-group>
    </ion-item>
  </div>
    
  <div>
    <ion-button size="block" fill="solid" class="loginbtn" [disabled]="!isFormChanged()" (click)="updateUser()">Save</ion-button>
    <ion-button size="block" fill="solid" color="light" (click)="reset()">Cancel</ion-button>
  </div>
</ion-content>
