ion-button {
    font-family: inherit;
    font-size: inherit;
    padding-top: inherit;
}

ion-content {
    height: 500px;
}

.selected {
    border: 2px solid var(--ion-color-primary);
}

.counter__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.bold-text {
    font-weight: bold;
    font-size: 1.2rem;
}

.small-text {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.top-margin {
    margin-top: 10%;
}