ion-button {
    --background: var(--dark-color);
    outline: none;
}

.primary-button {
    --background: var(--ion-color-primary); /* Cambia colore di sfondo */
    --color: var(--background-color); /* Cambia colore del testo */
}

.secondary-button {
    --background: var(--dark-color);
    --color: var(--ion-color-primary); /* Cambia colore del testo */
    border-color: var(var(--dark-color));
}