ion-button {
    height: 100px;
    --background: var(--dark-color);
    --color: var(--ion-color-primary);
    outline: none;
    text-align: left;
}

ion-icon {
    width: 32px;
    height: 32px;
    padding-right: 12px;
}