ion-button {
    height: 6rem;
    --background: var(--dark-color);
    --color: var(--ion-color-primary);
    outline: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

ion-icon {
    width: 2rem;
    height: 2rem;
    padding-right: 1rem;
}