<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/plans"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="custom-toolbar">
    <h1 class="title"> {{ selectedPlan.title }} </h1>
    <h2 class="subtitle"> {{ selectedPlan.description }} </h2>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
      
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" [initialBreakpoint]="0.60">
    <ng-template>
      <app-add-exercise></app-add-exercise>
    </ng-template>
  </ion-modal>

  <ion-segment [(ngModel)]="selectedDay" (click)="setSelectedDay()" class="bottom-spacing">
    <ion-segment-button *ngFor="let i of getArray(selectedPlan.n_days)" [value]="i">
      Day {{ i + 1 }}
    </ion-segment-button>
  </ion-segment>
  
  <div *ngIf="selectedDay !== null">
    <ion-list lines="none">
      <ion-item-sliding *ngFor="let exercise of exercises" #slidingItem>
        <ion-item lines="none">
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="auto" class="ion-align-">
                    <img [src]="getExerciseX(exercise.uid, 3)" [alt]="getExerciseX(exercise.uid, 0)">
                  </ion-col>
                  <ion-col>
                      <h1 class="exercise-title"> {{ getExerciseX(exercise.uid, 0) }} </h1>
                      <p class="exercise-subtitle"> {{ getExerciseX(exercise.uid, 2) }} </p>              
                      <div class="side-chips">
                        <ion-chip>
                          <ion-icon class="chip-icon" name="barbell-outline" color="primary"></ion-icon>
                          <ion-label>{{exercise.series}} series</ion-label>
                        </ion-chip>
                        <ion-chip>
                          <ion-icon class="chip-icon" name="flame" color="primary"></ion-icon>
                          <ion-label>{{exercise.repeats}} repeats</ion-label>
                        </ion-chip>
                      </div>
                    </ion-col>
                </ion-row>
              </ion-grid>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteExercise(exercise.uid)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </div>

</ion-content>