<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-icon name="arrow-back-outline" size="large" color="primary"></ion-icon>
          <ion-title> {{ [selectedPlan.title] }} </ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-justify-items-center">
          <span class="subtitle"> {{ [selectedPlan.description] }} </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button id="open-modal">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" [initialBreakpoint]="0.60">
    <ng-template>
      <app-add-exercise></app-add-exercise>
    </ng-template>
  </ion-modal>

  <ion-segment [(ngModel)]="selectedDay" (click)="setSelectedDay()">
    <ion-segment-button *ngFor="let i of getArray(selectedPlan.n_days)" [value]="i">
      Giorno {{ i + 1 }}
    </ion-segment-button>
  </ion-segment>
  
  
  <div *ngIf="selectedDay !== null">
    <p>Hai selezionato il giorno {{ selectedDay + 1 }}</p>

    <ion-list lines="none">
      <ion-item-sliding *ngFor="let exercise of exercises" #slidingItem>
        <ion-item>
          <ion-card>
            <ion-item>
              <ion-thumbnail slot="start">
                <img [src]="getExerciseX(exercise.uid, 3)" [alt]="getExerciseX(exercise.uid, 0)">
              </ion-thumbnail>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label>
                      <p> {{ getExerciseX(exercise.uid, 2) }} </p>
                      <h1> {{ getExerciseX(exercise.uid, 0) }} </h1>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div class="chips">
                      <ion-chip>
                        <!--<ion-icon class="chip-icon" name="barbell-outline" color="primary"></ion-icon>-->
                        <ion-label>{{exercise.series}} series x {{exercise.repeats}} repeats</ion-label>
                      </ion-chip>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-card>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </div>
  


</ion-content>