<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-title> {{ title || ('Hi, ' + (currentUsername || 'Utente')) }} </ion-title>
    <ion-icon *ngIf="!showIcon" slot="end" name="log-out-outline" size="large" (click)="logout()"></ion-icon>
    <div *ngIf="showIcon" slot="end" class="avatar-container align-center" (click)="navToProfile()">
      <img class="round-image" [src]="profileImage || 'assets/img/default-profile-picture.png'" alt="Profile Image" />
    </div>
  </ion-toolbar>
</ion-header>