ion-header {
    box-shadow: none;
    --background: var(--ion-background-color);
    padding-top: 0;
    padding-bottom: 0;
}

ion-toolbar {
    --background: var(--ion-background-color);
    --border-color: none;
    --border-width: 0 0 0;
    --min-height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px;
}

ion-title {
    font-size: 2rem;
    text-align: left;
    color: var(--ion-color-primary);
    padding: 0;
    margin: 0;
}

.avatar-container {
    cursor: pointer;
    z-index: 10;
}

ion-icon {
    color: var(--ion-color-primary);
}

