.welcome-text {
    width: 100%;
    color: #F7F7F7;
    font-family: var(--font-family-title, "Plus Jakarta Sans");
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 3rem;
}