<ion-content class="background-image">
  <ion-card>
    <ion-card-header>
      <div>
        <ion-card-title>Gym App</ion-card-title>
        <ion-card-subtitle class="transform-initial">Track your gym progress and plan your activities with precision and ease.</ion-card-subtitle>
      </div>
    </ion-card-header>

    <ion-card-content>
      <div class="sigin-btns">
        <ion-button size="block" fill="solid" class="loginbtn" (click)="login()">LOGIN</ion-button>
        <ion-button size="block" fill="solid" class="signupbtn" color="light" (click)="register()">SIGN UP</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>