<ion-content class="background-image" scrollY="false">
  <img class="logo" src="assets/Logo.svg" alt="FitPlan Logo"/>
  <div class="bottom-content ion-padding">
    <div>  
      <h1 class="welcome-text">
        YOUR PLANS <br />
        YOUR PROGRESS <br />
        ANYTIME, <br />
        ANYWHERE
      </h1>
    </div>
    <div class="space-between">
      <div>
        <ion-button color="primary" shape="round" size="block" (click)="register()">Join Now</ion-button>
      </div>
      <div>
        <ion-button color="secondary" shape="round" size="block" (click)="login()">Login</ion-button>
      </div>
    </div>
  </div>
</ion-content>