ion-header {
    position: absolute;
    margin: none;
}

ion-toolbar {
    --ion-backgorund-color: transparent;
    --opacity: 0;
}

ion-card {
    --ion--background-color: transparent;
    box-shadow: none !important;
    padding: 0;
    margin: 0;
}

ion-card-content {
    margin-top: 50px;
}

ion-card-title {
    margin-top: 30px;
    font-size: xx-large;
    text-align: center;
}

ion-card-subtitle {
    padding-top: 15px;
    color: var(--ion-color-medium);
    font-size: medium;
    text-align: center;
    font-weight: 200;
}

ion-button {
    margin-bottom: 10px;
    font-weight: 600;
}

ion-icon {
    margin-right: 10px;
}

form {
    margin-bottom: 50px;
}

.clear_button {
    margin-bottom: 10px;
    font-weight: 400;
}

.date {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

ion-datetime-button {
    padding-top: 10px;
    padding-bottom: 10px;
}