<ion-content class="background-image full-height">
  <img class="logo" src="assets/Logo.svg" alt="FitPlan Logo"/>

  <ion-card class="bottom-content">

    <ion-card-header>
      <div>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <h1 class="card-title">Tell us more about <br> <strong>yourself</strong></h1>
      </div>
    </ion-card-header>

    <ion-card-content>
      <div class="input-container">
        <ion-input
          class="custom"
          type="text"
          name="name"
          label="Name"
          labelPlacement="fixed"
          placeholder="Enter your name"
          [(ngModel)] = "user.name"
          required>
        </ion-input>

        <ion-input
          class="custom"
          type="text"
          name="surname"
          label="Surname"
          labelPlacement="fixed"
          placeholder="Enter your surname"
          [(ngModel)] = "user.surname"
          required>
        </ion-input>
        
        <ion-item class="custom-item" lines="none">
          <ion-label>Gender</ion-label>
          <ion-radio-group [(ngModel)]="user.gender" name="gender" required>
            <div class="radio-container-row">
              <ion-radio value="Male" labelPlacement="end">Male</ion-radio>
              <ion-radio value="Female" labelPlacement="end">Female</ion-radio>
            </div>
          </ion-radio-group>                
        </ion-item>

        <ion-item class="custom-item" lines="none">
          <ion-label>Birthdate</ion-label>
          <ion-input 
            type="date"
            labelPlacement="fixed"
            name="birthDate"
            class="rtl-input"
            [(ngModel)]="user.birthDate" 
          ></ion-input>
        </ion-item>

        <ion-item class="custom-item" lines="none">
          <ion-label>Weight</ion-label>
            <ion-input
              class="rtl-input"
              type="number"
              name="weight"
              placeholder="Enter your weight"
              [(ngModel)]="user.weight"
              required
              text-right
            ></ion-input>
            <ion-label style="padding-left: 10px; padding-right: 0px;">kg</ion-label>
        </ion-item>
        
        <ion-item class="custom-item" lines="none">
          <ion-label>Goal</ion-label>
          <ion-radio-group [(ngModel)]="user.goal" name="goal" required>
            <div class="radio-container-column">
              <ion-radio value="Mass gain" labelPlacement="end">Mass gain</ion-radio>
              <ion-radio value="Tone" labelPlacement="end">Tone</ion-radio>
              <ion-radio value="Weight loss" labelPlacement="end">Weight loss</ion-radio>
            </div>
          </ion-radio-group>
        </ion-item>

        <div>
          <ion-button color="primary" shape="round" size="block" [disabled]="!isFormValid()" (click)="register()">Sign Up</ion-button>
          <ion-button color="secondary" shape="round" size="block" (click)="cancel()">Cancel</ion-button>
        </div>

      </div>

    </ion-card-content>

  </ion-card>
    
</ion-content>