<app-header></app-header>
<ion-content [fullscreen]="true" class="ion-padding">

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card *ngIf="currentPlan">
                    <ion-card-header (click)="navToPlan()">
                      <ion-card-title> {{ currentPlan.title }} </ion-card-title>
                      <ion-card-subtitle> {{ currentPlan.n_days }} DAYS </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                      {{ currentPlan.description }}
                    </ion-card-content>
                    <div class="start-button">
                        <app-icon-button icon="play" label="Start workout" [action]="navToWorkout"></app-icon-button>
                    </div>
                </ion-card>
                <ion-card *ngIf="!currentPlan" (click)="createProgram()">
                    <ion-card-header>
                      <ion-card-title> No plans available </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Create a new plan to visualize here
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <app-icon-button fill="solid" icon="add" label="New Workout Plan" [action]="createProgram"></app-icon-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <app-icon-button fill="outline" icon="barbell-outline" label="Your Plans" [action]="navToPlans"></app-icon-button>
            </ion-col>
            <ion-col>
                <app-icon-button fill="outline" icon="Heart" label="Exercises" [action]="navToManual"></app-icon-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
