ion-card {
    background: var(--dark-color);
    --color: var(--ion-color-light);
    border-radius: 20px;
}

.card-title {
    color: #F7F7F7;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
}

.card-subtitle {
    color: #F7F7F7;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0px;
}

ion-button {
    height: 60px;
    border-radius: 5px;
}

.training-dots {
    padding-top: 25px;
    padding-bottom: 0px;
    padding-right: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.training-dots ion-icon {
    font-size: 14px;
}
  
.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--medium-color);
    border: 1px solid var(--ion-color-primary);
}
  
.dot.completed {
    background-color: var(--ion-color-primary);
    border: none;
    color: var(--dark-color);
}

.dot.next {
    background-color: var(--ion-color-primary);
}

.play-button {
    z-index: 10;
}
  