ion-card {
    --ion--background-color: transparent;
    background: transparent;
    box-shadow: none !important;
    padding: 0;
    margin: 0;
}

ion-card-header {
    display: flex;
    flex-direction: column;
}

ion-card-content {
    margin-top: 10%;
}

ion-card-title {
    font-size: 32px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--ion-color-primary);
}

ion-card-subtitle {
    padding-top: 5%;
    color: var(--ion-color-medium);
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}