<ion-content class="background-image" scrollY="false">
  <img class="logo" src="assets/Logo.svg" alt="FitPlan Logo"/>
  <ion-card class="bottom-card">
    <ion-card-header>
      <div>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <h1 class="card-title"><strong>Password Recovery</strong></h1>
        <p class="card-subtitle">Insert your email address to receive password recovery instructions.</p>
      </div>
    </ion-card-header>

    <ion-card-content class="ion-padding">
      <div>
          <ion-input
            class="custom"
            type="text"
            name="email"
            label="Email"
            labelPlacement="fixed"
            placeholder="Enter your email"
            [(ngModel)] = "user.email"
            (ngModelChange)="validateEmail()"
            email
            required
          ></ion-input>
        <div class="errorMessage">
          <ion-text color="danger" *ngIf="emailError">
            <p>{{ emailError }}</p>
          </ion-text>
        </div>
      </div>
      
      <div>
        <ion-button color="primary" size="block" [disabled]="!emailValid" (click)="verifyCredentials()">Send</ion-button>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>