<ion-content class="background-image">
  <ion-card>
    <ion-card-header>
      <div>
        <ion-card-title>Recover Password</ion-card-title>
        <ion-card-subtitle class="transform-initial">Insert your email address to recover your password.</ion-card-subtitle>
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input
          type="text"
          name="email"
          label="Email"
          labelPlacement="floating"
          [(ngModel)] = "user.email"
          (ngModelChange)="validateEmail()"
          email
          required
        ></ion-input>
      </ion-item>
      <div class="errorMessage">
        <ion-text color="danger" *ngIf="emailError">
          <p>{{ emailError }}</p>
        </ion-text>
      </div>
      <div class="sigin-btns">
        <ion-button id="emailSentAlert" size="block" fill="solid" class="loginbtn" [disabled]="!emailValid" (click)="verifyCredentials()">SEND</ion-button>
        <ion-alert
          trigger="emailSentAlert"
          header="Recover Password"
          message="Recovery instructions were sent to your email address."
          [buttons]="alertButtons"
        ></ion-alert>
        <ion-button size="block" fill="solid" color="light" (click)="back()">Back</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>