.chart-container {
  width: 100%;
  overflow-x: auto;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--dark-color);
}

.chart-scrollable {
  width: 600px;
  height: 200px;
}

ion-grid {
  padding: 0px;
}

ion-row {
  padding: 0px;
}