.chart-container {
  width: 100%;
  overflow-x: auto;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--dark-color);
}

.chart-scrollable {
  width: 600px;
  height: 200px;
}

ion-grid, ion-col, ion-row{
  padding: 0px;
}

ion-row {
  gap: 0.5rem;
}

.stats-box {
  background-color: var(--dark-color);
}

.exercise-chart-container {
  max-width: 600px;

  ion-select {
    width: 100%;
    min-height: 40px;
    margin-bottom: 20px;
    border-radius: 0.5rem;
    background-color: var(--background-color);
    border: none;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
  }
}