// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap');

:root {

	--ion-background-color: #1B1B1B !important;
	--ion-text-color: #F7F7F7 !important;

	--primary-color: #B3E429;
	--background-color: #1B1B1B;
	--dark-color: #313131;
	--medium-color: #717171;
	--light-color: #F7F7F7;
	
	--font-primary: 'Plus Jakarta Sans', sans-serif;
	
	--ion-color-primary: #B3E429;
	--ion-color-primary-rgb: rgb(179, 228, 41);
	--ion-color-primary-contrast: #131313;
	--ion-color-primary-contrast-rgb: rgb(19, 19, 19);
	--ion-color-primary-shade: #9FCB23;
	--ion-color-primary-tint: #C5EA56;

	--ion-color-secondary: #f7f7f733;
	--ion-color-secondary-rgb: rgba(247, 247, 247, 0.2);
	--ion-color-secondary-contrast: #F7F7F7;
	--ion-color-secondary-contrast-rgb: rgb(247, 247, 247);
	--ion-color-secondary-shade: #bcbcbc33;
	--ion-color-secondary-tint: #f7f7f788;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	/* Dark Color */
	--ion-color-dark: #131313;
	--ion-color-dark-rgb: 19, 19, 19;
	--ion-color-dark-contrast: #F7F7F7;
	--ion-color-dark-contrast-rgb: 247, 247, 247;
	--ion-color-dark-shade: #0F0F0F;
	--ion-color-dark-tint: #292929;
  
	/* Medium Color */
	--ion-color-medium: #717171;
	--ion-color-medium-rgb: 113, 113, 113;
	--ion-color-medium-contrast: #F7F7F7;
	--ion-color-medium-contrast-rgb: 247, 247, 247;
	--ion-color-medium-shade: #626262;
	--ion-color-medium-tint: #828282;
  
	/* Light Color */
	--ion-color-light: #F7F7F7;
	--ion-color-light-rgb: 247, 247, 247;
	--ion-color-light-contrast: #131313;
	--ion-color-light-contrast-rgb: 19, 19, 19;
	--ion-color-light-shade: #D9D9D9;
	--ion-color-light-tint: #FFFFFF;

}
