<ion-content class="background-image">
  <ion-card>
    <ion-card-header>
      <div>
        <ion-card-title>Login</ion-card-title>
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input
          type="text"
          name="email"
          label="Email"
          labelPlacement="floating"
          [(ngModel)] = "user.email"
          (ngModelChange)="validateEmail()"
          email
          required
        ></ion-input>
      </ion-item>
      <div class="errorMessage">
        <ion-text color="danger" *ngIf="emailError">
          <p>{{ emailError }}</p>
        </ion-text>
      </div>
      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input
          type="password"
          name="password"
          label="Password"
          labelPlacement="floating"
          [clearOnEdit]="true"
          [(ngModel)] = "user.password"
          (ngModelChange)="validatePassword()"
          required
        ></ion-input>
      </ion-item>
      <div class="errorMessage">
        <ion-text color="danger" *ngIf="passwordError">
          <p>{{ passwordError }}</p>
        </ion-text>
      </div>
      <ion-button class="clear_button" size="block" fill="clear" (click)="forgotPassword()">Forgot password?</ion-button>
      <div class="sigin-btns">
        <ion-button size="block" fill="solid" class="loginbtn" [disabled]="!emailValid || !passwordValid" (click)="verifyCredentials()">Login</ion-button>
        <ion-button class="clear_button" size="block" fill="clear" (click)="register()">Not registered yet? Sign up.</ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>