ion-header {
    position: absolute;
    top: 200px;
    margin-top: none;
    margin-left: none;
    margin-right: none;
    margin-bottom: 100px;
    flex-direction: column;
}

ion-toolbar {
    --ion-backgorund-color: transparent;
    --opacity: 0;
}

ion-content {
    position: relative;
    height: 100%;
}

ion-card {
    --ion--background-color: transparent;
    background: transparent;
    box-shadow: none !important;
    padding: 0;
    margin: 0;

    position: absolute;
    bottom: 100px; /* Distanza dal fondo */
    left: 50%;
    transform: translateX(-50%); /* Centra orizzontalmente */
    width: 90%; /* Imposta la larghezza della card */
    max-width: 400px; /* Imposta una larghezza massima */
}

ion-card-header {
    margin-top: 50px;
}

ion-card-content {
    margin-top: 50px;
}

ion-card-title {
    margin-top: 30px;
    font-size: 36px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--ion-color-primary);
}

ion-item {
    border-radius: 5px;
    opacity: 80%;
    transition: all 0.3s ease-in-out;
}

ion-button {
    margin-bottom: 40px;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
}

ion-icon {
    margin-right: 10px;
}

.clear_button {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    font-family: inherit;
    text-transform: none;
    text-decoration: underline;
    color: #ffffff
}

.errorMessage {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.background-image {
    --background: none;
    background-image: url('../../../assets/images/background-image-darker.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}