<ion-content class="background-image full-height">
  <ion-grid class="full-height">
    <ion-row class="ion-justify-content-center ion-align-items-center full-height">
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>

          <ion-card-header>
            <ion-card-title>Sign Up</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div>
              <ion-item>
                <ion-icon name="mail-outline"></ion-icon>
                <ion-input 
                  type="text"
                  name="email"
                  label="Email"
                  labelPlacement="floating"
                  [(ngModel)] = "user.email"
                  (ngModelChange)="validateEmail()"
                  email
                  required></ion-input>
              </ion-item>
              <div class="errorMessage">
                <ion-text color="danger" *ngIf="emailError">
                  <p>{{ emailError }}</p>
                </ion-text>
              </div>
              <ion-item>
                <ion-icon name="lock-closed-outline"></ion-icon>
                <ion-input
                  type="password"
                  name="password"
                  label="Password"
                  labelPlacement="floating"
                  [clearOnEdit]="true"
                  [(ngModel)] = "user.password"
                  (ngModelChange)="validatePassword()"
                  required
                ></ion-input>
              </ion-item>
              <div class="errorMessage">
                <ion-text color="danger" *ngIf="passwordError">
                  <p>{{ passwordError }}</p>
                </ion-text>
              </div>
            </div>

            <div>
              <ion-button size="block" fill="solid" class="loginbtn" [disabled]="!emailValid || !passwordValid" (click)="chackCredentials()">Next</ion-button>
              <ion-text color="primary" class="centered-link" (click)="login()">Already have an account? Sign in.</ion-text>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>