.current-icon {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}

ion-fab-button ion-icon {
    margin: 0;
    padding: 0;
}

ion-list {
    border-radius: 8px;
    background-color: var(--background);
}

ion-item-sliding {
    --ion-safe-area-right: 0;
    --ion-safe-area-left: 0;
    border-radius: 8px;
    margin-bottom: 8px;
}

ion-item {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    --background-color: none;
}

ion-card {
    --background: #323232;
    --color: var(--ion-color-light);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

ion-segment {
    --color: var(--ion-color-primary);
}

ion-card-title {
    --color: var(--ion-color-primary);
}

ion-card-subtitle {
    --color: var(--ion-color-primary);
}

ion-list {
    --background: none;
}