<app-header title="Your Plans"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-fab *ngIf="!isCardVisible" slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="openCard()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-card *ngIf="isPlansEmpty" style="height: fit-content">
      <ion-card-header>
          <ion-card-title> No plans available </ion-card-title>
      </ion-card-header>
      <ion-card-content>
          Create a new plan to visualize here
      </ion-card-content>
    </ion-card>

    <ion-list lines="none" *ngIf="!isPlansEmpty">
      <ion-item-sliding *ngFor="let plan of plans" #slidingItem>
        <ion-item lines="none">
          <ion-card (click)="selectPlan(plan.uid)">
            <ion-icon 
              *ngIf="plan.isCurrent" 
              name="bookmark" 
              class="current-icon"
            ></ion-icon>
            <ion-card-header>
              <ion-card-title> {{ plan.title }} </ion-card-title>
              <ion-card-subtitle> {{ plan.n_days }} DAYS </ion-card-subtitle>
              <div class="card-footer">
                <ion-button fill="clear" (click)="navToWorkout()" [disabled]="plan.days[0].length === 0">
                  <ion-icon class="play-button-icon" name="play"></ion-icon>                            
              </ion-button>                          
              </div>
            </ion-card-header>
          </ion-card>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option (click)="toggleCurrent(plan, slidingItem)">
            <ion-icon slot="icon-only" name="bookmark"></ion-icon>
          </ion-item-option>
          <ion-item-option *ngIf="!plan.isCurrent" color="danger" (click)="deletePlan(plan, slidingItem)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>

<div *ngIf="isCardVisible" class="overlay" (click)="closeCard()"></div>
<app-new-plan-card *ngIf="isCardVisible"></app-new-plan-card>