<app-generic-header title="Your Plans"></app-generic-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-list>
        <ion-card>
            <ion-card-header>
              <ion-card-title>TABATA Circuit</ion-card-title>
              <ion-card-subtitle>3 Days</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
              <ion-card-title>Flexibility</ion-card-title>
              <ion-card-subtitle>2 Days</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
              <ion-card-title>Weight Progression</ion-card-title>
              <ion-card-subtitle>4 Days</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
        </ion-card>
    </ion-list>

</ion-content>