
  <app-new-plan-card></app-new-plan-card>
  <!--
  <div class="input-container bottom-spacing">
    <ion-input 
      class="custom"
      type="text"
      name="title"
      label="Title"
      labelPlacement="fixed"
      placeholder="Enter plan title"
      [(ngModel)] = "plan.title"
      required
    ></ion-input>
    <ion-input
      class="custom"
      type="text"
      name="description"
      label="Description"
      labelPlacement="fixed"
      placeholder="Enter plan description"
      [(ngModel)] = "plan.description"
      required
    ></ion-input>
    <ion-item class="custom-item" lines="none">
      <ion-label>N° Days</ion-label>
        <ion-input
          class="rtl-input"
          type="number"
          name="days"
          labelPlacement="fixed"
          placeholder="Enter plan days"
          [(ngModel)]="plan.n_days"
          required
          text-right
        ></ion-input>
    </ion-item>
  </div>

  <div>
    <ion-button size="block" fill="solid" class="loginbtn" [disabled]="!isFormValid()" (click)="savePlan()">Save</ion-button>
    <ion-button size="block" fill="solid" color="light" (click)="back()">Cancel</ion-button>
  </div>
  -->