.rest-time-box {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
  border-radius: 20px;
  color: var(--background-color);
}

.time-label {
  display: flex;
  flex-direction: column;
  align-content: left;
  p {
    font-size: 14px;
    margin: 0px;
    text-align: left;
  }
  h1 {
    font-size: 30px;
    font-weight: 600;
    color: var(--background-color);
    margin: 0px;
  }
}

.time-button {
  align-content: center;
  justify-content: center;
}

ion-icon {
  color: var(--background-color);
}