<ion-card class="bottom-card">
  <ion-card-header>
      <h1 class="card-title">Create new plan</h1>
  </ion-card-header>

  <ion-card-content class="ion-padding">
    <div class="input-container">
      <p class="text-divider">Plan definition</p>
      <ion-input 
        class="custom"
        type="text"
        name="title"
        label="Title"
        labelPlacement="fixed"
        placeholder="Enter plan title"
        [(ngModel)]="plan.title"
        required
      ></ion-input>
      
      <ion-input
        class="custom"
        type="text"
        name="description"
        label="Description"
        labelPlacement="fixed"
        placeholder="Enter plan description"
        [(ngModel)]="plan.description"
        required
      ></ion-input>

      <div class="center">
        <p class="text-divider">Select n° of days</p>
        <div class="counter__section">
          <ion-icon name="remove-circle" color="primary" size="large" (click)="decreaseDays()"></ion-icon>
          <p class="selection-number">{{plan.n_days}}</p>
          <ion-icon name="add-circle" color="primary" size="large"  (click)="increaseDays()"></ion-icon>
        </div>
      </div>

    </div>

    <div class="input-container">
      <ion-button color="primary" size="block" [disabled]="!isFormValid()" (click)="savePlan()">Create plan</ion-button>
      <ion-button color="secondary" size="block" (click)="closeCard()">Cancel</ion-button>  
    </div>
  </ion-card-content>
</ion-card>