/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/*@import "@ionic/angular/css/palettes/dark.always.css";
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/*----------------------------------------------------------------------------------------------------
    General
----------------------------------------------------------------------------------------------------*/

:host {
    --background: none !important;
}

body {
	--ion-font-family: var(--font-primary);
	background-color: var(--background-color);
	color: var(--light-color);
    width: 100%;
}

.full-height {
    height: 100vh;
}

/*----------------------------------------------------------------------------------------------------
    Spacing & Allignment
----------------------------------------------------------------------------------------------------*/
.box-spacing {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bottom-content {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
}

.bottom-card {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 2rem;
}

.bottom-spacing {
    margin-bottom: 30px;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

.align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.justify-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.space-between {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-content: center;
}

.space-between div {
  flex: 1;
  width: 100%;
}

.space-between ion-button {
  width: 100%;
}

.space-input {
    display: flex;
    flex-direction: column;
}
/*----------------------------------------------------------------------------------------------------
    Typography
----------------------------------------------------------------------------------------------------*/
h1, h2, h3 {
	color: var(--light-color);
}

.title {
    color: var(--ion-color-primary);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.subtitle{
    padding-top: 0px;
    color: var(--ion-color-medium);
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    display: block;
}

.text-divider {
    color: var(--ion-color-primary);
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: start;
    text-align: left;
}

.transform-initial {
    text-transform: initial;
}

strong {
    font-weight: 800;
}

/*----------------------------------------------------------------------------------------------------
    Input - Items
----------------------------------------------------------------------------------------------------*/
.right-link {
    display: block;
    text-align: right;
    color: var(--medium-color);
    font-size: 1rem;
    text-decoration: underline;
    margin-bottom: 2rem;
}

.center-link {
    display: block;
    text-align: center;
    color: var(--medium-color);
    font-size: 1rem;
    margin-top: 1rem;
}
  
.highlight-link {
    color: var(--ion-color-primary);
    text-decoration: underline;
}

.rtl-input {
    text-align: right;
}

/*----------------------------------------------------------------------------------------------------
    Images
----------------------------------------------------------------------------------------------------*/
.background-image {
    --background: none;
    background-image: url('./assets/images/background-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.logo {
    position: absolute;
    top: 5rem;
    left: 1rem;
    width: 4rem;
    border: none;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 1px solid var(--ion-color-primary);
}

.round-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

/*----------------------------------------------------------------------------------------------------
    Input - Items
----------------------------------------------------------------------------------------------------*/
ion-input.custom {
    --background: var(--dark-color);
    --color: var(--light-color);
    --placeholder-opacity: 0.6;
    --padding-bottom: 1rem;
    --padding-end: 1rem;
    --padding-start: 1rem;
    --padding-top: 1rem;
    --border-radius: 0.5rem;
}

.custom::part(label) {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
}

.errorMessage {
    min-height: 1.5rem;
    padding-left: 0.3rem;
    margin-top: 2px;
    margin-bottom: 2px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ion-item {
    width: 100%;
    height: 100%;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
    --padding-end: 0;
    --margin-right: 0;
    --background-color: var(--dark-color);
    --border-radius: 0.5rem;
    justify-content: space-between;
}

ion-item-sliding {
    --ion-safe-area-right: 0;
    --ion-safe-area-left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 8px;
}

.custom-item {
    --background: var(--dark-color);
    --color: var(--light-color);
    --placeholder-opacity: 0.6;
    --padding-bottom: 0.5rem;
    --padding-end: 0.5rem;
    --padding-start: 1rem;
    --padding-top: 0.5rem;
    --border-radius: 0.5rem;
    --border-width: 0;
}

/*----------------------------------------------------------------------------------------------------
    Buttons
----------------------------------------------------------------------------------------------------*/
ion-button {
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: none;
    border: none;
    --border-radius: 0.5rem;
    margin: 0;
}

.play-button {
    font-size: 2.5rem;
    color: var(--ion-color-primary);
}

/*----------------------------------------------------------------------------------------------------
    Cards
----------------------------------------------------------------------------------------------------*/
ion-card {
    background: var(--background-color);
    box-shadow: none !important;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; 
    padding: 0;
    margin: 0;
}

.card-title {
    color: var(--light-color);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
}

.card-subtitle {
    color: var(--medium-color);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*----------------------------------------------------------------------------------------------------
    Date
----------------------------------------------------------------------------------------------------*/
.date {
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

ion-datetime-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*----------------------------------------------------------------------------------------------------
    Radio Buttons
----------------------------------------------------------------------------------------------------*/
.radio-container-row {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.radio-container-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

ion-radio::part(container) {
    width: 1rem;
    height: 1rem;
  
    border-radius: 4px;
    border: 1px solid #ddd;
}

ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
}

ion-radio.radio-checked::part(container) {
    background: var(--ion-color-primary);
    border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
    width: 6px;
    height: 10px;

    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #fff;

    transform: rotate(45deg);
}

/*----------------------------------------------------------------------------------------------------
    Lists
----------------------------------------------------------------------------------------------------*/
ion-list {
    border-radius: 8px;
    --background: none;
}

.list-ios {
    background: none;
}

/*----------------------------------------------------------------------------------------------------
    Boxes
----------------------------------------------------------------------------------------------------*/
.stats-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background-color: rgba(247, 247, 247, 0.20);
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
}
  
.box-icon {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    color: var(--ion-color-primary);
}
  
.box-icon ion-icon {
    width: 30px;
    height: 30px;
}
  
.box-icon ion-label {
    font-size: 14px;
}
  
.box-value {
    align-items: end;
    justify-content: end;
    color: var(--light-color);
}
  
.box-value p {
    font-weight: 900;
    font-size: 36px;
    line-height: 0.9;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-right: 5px;
}