/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.transform-initial {
    text-transform: initial;
}

.full-height {
    height: 100%;
}

.background-image {
    --background: none;
    background-image: url('/../../assets/images/background-image-darker.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

ion-button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    padding-top: 10px;
}

// Links ----------------------------------------------------
.right-link {
    display: block;
    text-align: right;
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 5%;
}

.centered-link {
    display: block;
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 10%;
}
// ----------------------------------------------------------

// Input ----------------------------------------------------
ion-item {
    border-radius: 5px;
    opacity: 80%;
    margin-bottom: 5px;
}

ion-icon {
    margin-right: 10px;
}

.errorMessage {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}